<!DOCTYPE html>
<html lang="en">
<head>
    <title>Python Flask Bucket List App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/app.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/">Home</a></li>
                    <li role="presentation"><a href="#">Sign In</a></li>
                    <li role="presentation" class="active"><a href="#">Sign Up</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>Bucket List App</h1>
            <form class="form-signin">
                <label for="signUp_firstName" class="sr-only">First Name</label>
                <input type="name" name="signUp_firstName" id="signUp_firstName" class="form-control" placeholder="First Name" required autofocus>
                <label for="signUp_lastName" class="sr-only">Last Name</label>
                <input type="name" name="signUp_lastName" id="signUp_lastName" class="form-control" placeholder="Last Name" autofocus>
                <label for="signUp_username" class="sr-only">Username</label>
                <input type="name" name="signUp_username" id="signUp_username" class="form-control" placeholder="Username" required autofocus>
                <label for="signUp_password" class="sr-only">Password</label>
                <input type="password" name="signUp_password" id="signUp_password" class="form-control" placeholder="Password" required>

                <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
            </form>
        </div>

        <footer class="footer">
        </footer>

    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src='../static/app.js'></script>
